<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{name|capitalize}}</h1>

    <!--导入有宏定义的html-->
    {%  import 'macros.html' as macros %}

    <ul>
        {% for comment in comments %}
        {{macros.render_comment(comment)}}
        {% endfor %}
    </ul>

</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--{% block head %}-->
<!--<title>{% block title %}{% endblock %} - My Application </title>-->
    <!--{% endblock %}-->
<!--</head>-->
<!--<body>-->
<!--{% block body %}-->
<!--{% endblock %}-->
<!--</body>-->
<!--</html>-->

